<template>
  <v-card
    :class="[
      'card',
      'mx-3',
      'mb-2',
      'text-center',
      'black--text',
      backgroundColor,
    ]"
    :style="{ width: '102px', height: '140px', borderRadius: '13px' }"
    hover
    @click="onCardClicked"
  >
    <div class="mx-auto" :style="{ width: '100px', height: '135px' }">
      <v-avatar
        :class="['card__avatar', 'mx-3', 'mt-2']"
        :color="this.color"
        size="75"
      ></v-avatar>
      <v-divider
        :class="['card__divider', 'grey lighten-2', 'mt-4', 'mb-2']"
      ></v-divider>
      <h3 class="card__text" :style="{ fontSize: '19px', fontWeight: '500' }">
        {{ color.toUpperCase() }}
      </h3>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "ColorCard",
  props: {
    color: {
      type: String,
      required: true,
    },
    clickable: {
      type: Boolean,
      required: true,
    },
  },
  data: () => ({
    backgroundColor: "white",
  }),
  computed: {
    userGuess() {
      return this.$store.getters.userGuess;
    },
    result() {
      return this.$store.getters.result;
    },
    isUserWon() {
      return this.$store.getters.isUserWon;
    },
  },
  methods: {
    onCardClicked() {
      if (this.clickable) {
        if (this.userGuess.length < 3) {
          this.addUserGuess(this.color);
        } else {
          return;
        }
      }
    },
    addUserGuess(color) {
      if (!this.userGuess.includes(color) && !this.isUserWon) {
        this.userGuess.push(color);
        if (this.userGuess.length === 3) this.$store.commit("calcResult");
        this.$store.commit("addAttempt");
        this.$store.commit("resetGuess");
      } else {
        this.backgroundColor = "red";
        setTimeout(() => {
          this.backgroundColor = "white";
        }, 200);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

