<template>
  <div class="palette pl-4 pt-4">
    <div class="palette__cards mb-5">
      <ColorCard
        v-for="color in colors"
        :key="color.id"
        :color="color.name"
        :clickable="true"
      />
    </div>
  </div>
</template>

<script>
import ColorCard from "./ColorCard";

export default {
  name: "ColorsPalette",
  components: {
    ColorCard,
  },
  data: () => ({}),
  computed: {
    colors() {
      return this.$store.getters.colors;
    },
  },
  created() {
    this.$store.commit("generateRandomSequence");
  },
};
</script>

<style lang="scss" scoped>
.palette {
  position: absolute;
  bottom: 0;
  width: inherit;
  background-color: #d1d1d1;
  border-top-style: solid !important;
  border-color: black !important;
  border-width: 1px !important;
}
.palette__cards {
  width: inherit;
  display: flex;
}
</style>
