<template>
  <v-card class="card text-center" :style="{ borderRadius: '10px' }">
    <v-card-title class="card__text--title primary">Contact</v-card-title>
    <v-divider class="card__divider mb-4"></v-divider>
    <v-card-text class="card__text text-center">
      <v-row>
        <v-col cols="5">
          <v-icon class="mx-auto" size="80">mdi-gitlab</v-icon>
          <br />
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://gitlab.com/SaharPeretz"
          >
            GitLab</a
          >
        </v-col>
        <v-col cols="2"><v-divider vertical></v-divider></v-col>
        <v-col cols="5">
          <v-icon size="80">mdi-email-outline</v-icon><br />
          <a class="link" href="saharpe.dev@gmail.com" target="_blank">Email</a>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row>
        <v-col cols="5"
          ><v-icon size="80">mdi-facebook</v-icon><br /><a
            class="link"
            href="https://www.facebook.com/Saharpe/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Facebook</a
          ></v-col
        >
        <v-col cols="2"><v-divider vertical></v-divider></v-col>
        <v-col cols="5">
          <v-icon size="80"> mdi-linkedin</v-icon><br />
          <a
            class="link"
            href="https://www.linkedin.com/in/saharpe/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </v-col>
      </v-row>
    </v-card-text>
    <v-btn
      color="primary"
      @click="closeModal"
      class="card_button mt-2"
      large
      >close</v-btn
    >
  </v-card>
</template>

<script>
export default {
  name: "ContactModal",
  components: {},
  data: () => ({}),
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  text-align: center !important;
  width: 620px;
  height: 430px;
  &__text--title {
    font-size: 26px !important;
    justify-content: center;
    color: white;
  }
}

.link {
  font-size: 15px;
  color: #5791e2;
}
</style>
