<template>
  <v-app-bar class="navbar pl-1" color="primary">
    <!-- Home button START -->
    <v-btn icon @click="goHomePage">
      <v-icon class="navbar__button" large>mdi-home-outline</v-icon>
    </v-btn>
    <!-- Home button END -->

    <v-divider class="navbar__divider mx-2" vertical></v-divider>

    <!-- Contact button START -->
    <v-btn icon>
      <v-icon @click="showContactModal = true" class="navbar__button" large
        >mdi-email-outline</v-icon
      >
      <v-dialog
        v-model="showContactModal"
        persistent
        max-width="530"
        max-height="480"
      >
        <ContactModal @closeModal="closeContactModal" />
      </v-dialog>
    </v-btn>
    <!-- Contact button END -->

    <v-divider class="navbar__divider mx-2" vertical></v-divider>

    <!-- Instructions button START -->
    <v-btn icon @click.stop="showHelpModal = true">
      <v-icon class="navbar__button" large>mdi-help-circle-outline</v-icon>
    </v-btn>
    <v-dialog
      v-model="showHelpModal"
      fullscreen
      hide-overlay
      max-width="580"
      max-height="300"
    >
      <HelpModal @closeModal="closeHelpModal" />
    </v-dialog>
    <!-- Instructions button END -->

    <v-divider class="navbar__divider mx-2" vertical></v-divider>

    <!-- Dark/Light Mode button START -->
    <v-btn icon @click="switchMode">
      <v-icon class="navbar__button" large>mdi-brightness-6</v-icon>
    </v-btn>
    <!-- Dark/Light Mode button END -->

    <!-- <v-divider class="mx-2" vertical></v-divider> -->

    <!-- Leaderboard button START -->
    <!-- <v-btn icon> -->
      <!-- <v-icon class="navbar__button" large>mdi-podium</v-icon> -->
    <!-- </v-btn> -->
    <!-- Leaderboard button END -->

    <!--    SPACER    -->
    <v-spacer></v-spacer>
    <!--    SPACER    -->

    <!-- Restart button END -->
    <v-btn v-if="isGameDisplayed" icon @click="restart">
      <v-icon class="navbar__button" large>mdi-restart</v-icon>
    </v-btn>
    <!-- Restart button END -->

    <v-divider
      v-if="isGameDisplayed"
      class="navbar__divider mx-2"
      vertical
    ></v-divider>

    <!-- Attempts Counter START -->
    <p v-if="isGameDisplayed" class="navbar__text ml-1 my-auto">
      attempts: {{ attempts }}
    </p>
    <!-- Attempts Counter END -->
  </v-app-bar>
</template>

<script>
import ContactModal from "./ContactModal";
import HelpModal from "./HelpModal";

export default {
  name: "GameToolbar",
  data: () => ({
    showContactModal: false,
    showHelpModal: false,
  }),
  components: {
    ContactModal,
    HelpModal,
  },
  computed: {
    attempts() {
      return this.$store.getters.attempts;
    },
    userGuess() {
      return this.$store.getters.userGuess;
    },
    isGameDisplayed() {
      return this.$store.getters.isGameDisplayed;
    },
  },
  methods: {
    closeContactModal() {
      this.showContactModal = false;
    },
    closeHelpModal() {
      this.showHelpModal = false;
    },
    restart() {
      this.$store.commit("restartGame");
      this.$emit("restartInvoked");
    },
    switchMode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
    goHomePage() {
      if (this.userGuess.length > 0 || this.attempts > 0) {
        this.$store.commit("showHomePageErrorMsg");
      } else {
        this.$store.commit("restartGame");
        this.$store.commit("goHomePage");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  &__button {
    color: #f9f9f9 !important;
  }
  &__text {
    font-size: 22px !important;
    color: #f9f9f9;
  }
}
</style>
