<template>
  <div class="mt-1">
    <div :class="['result', 'justify-center']">
      <v-chip
        :class="['result__chip', 'mx-5', 'justify-center', 'text-center']"
        v-for="result in results"
        :key="result.id"
        text-color="white"
        :color="renderResult(result.text)"
        >{{ result.text }}</v-chip
      >
    </div>
  </div>
</template>
<script>
export default {
  name: "GuessResult",
  components: {},
  data: () => ({}),
  computed: {
    results() {
      return this.$store.getters.result;
    },
  },
  methods: {
    renderResult(result) {
      if (result === "perfect-hit") {
        return "green";
      }
      if (result === "near-hit") {
        return "blue";
      }
      return "red";
    },
  },
  created() {},
};
</script>
<style lang="scss" scoped>
.result {
  display: flex;
  &__chip {
    font-size: 14px !important;
    width: 102px;
    height: 28px;
  }
}
</style>
