<template>
  <v-card :class="['card', 'justify-center']">
    <v-card-title :class="['card__text--title', 'primary', 'game--text']"
      >Game Instructions</v-card-title
    >
    <v-divider class="card__divider mb-3"></v-divider>
    <v-card-text class="card__text">
      
      <h2 class="card_text--subtitle">The Toolbar</h2>
      <br />
      <ul>
        <li>Home</li>
        <li>Contact</li>
        <li>Help</li>
        <li>Theme</li>
        <li>Leaderboard</li>
      </ul>
      <br />

      <h2 class="card_text--subtitle">The game</h2>
      <br />
      <p>
        There are 8 colors in the cards stack; RED PINK BLUE BROWN PURPLE GREEN
        ORANGE YELLOW every time you start a new game the computer will choose 3
        random colors out of the stack in a random order. what you need to do is
        to start guessing what colors are these and in what order.
      </p>

      
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-btn
        class="card__button primary mb-2"
        :style="{ width: '140px', height: '40px' }"
        x-large
        @click="closeModal"
      >
        close
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "HelpModal",
  components: {},
  data: () => ({}),
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  border-radius: 0px !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  &__text {
    font-size: 14px;
    width: 80%;
    height: 80vh;
    margin: auto;
    &--title {
      font-size: 40px !important;
      justify-content: center !important;
      padding-bottom: 2px;
    }
  }
}
</style>
