<template>
  <div class="timer-container">
    <v-card outlined>
      <v-icon class="timer-icon" x-large>
        mdi-timer
      </v-icon>
      <br>  
      <h2>{{ time }}</h2>
    </v-card>
    <div class="buttons">
    <v-btn class="mx-1" @click="startTimer">Start timer</v-btn>
    <v-btn class="mx-1" @click="stopTimer">Stop timer</v-btn>
    <v-btn class="mx-1" @click="resetTimer">Reset timer</v-btn>
    </div>
  </div>
</template>
<script>
export default {
  name: "Timer",
  components: {},
  props: {
    
  },
  data: () => ({
     time: "00:00.000",
    timeBeggan: null,
    timeStopped: null,
    stoppedDuration: 0,
    started: null,
    running: false
  }),
  computed: {},
  methods: {
    startTimer() {
      if (this.running) return;

      if (this.timeBeggan === null) {
        this.resetTimer();
        this.timeBeggan = new Date();
      }

      if (this.timeStopped !== null) {
        this.stoppedDuration += new Date() - this.timeStopped;
      }
      this.started = setInterval(this.timerRunning, 10);
      this.running = true;
    },
    stopTimer() {
      this.running = false;
      this.timeStopped = new Date();
      clearInterval(this.started);
    },
    resetTimer() {
      this.running = false;
      clearInterval(this.started);
      this.stoppedDuration = 0;
      this.timeBeggan = null;
      this.timeStopped = null;
      
      this.time = "00:00.000";
    },
    zeroPrefix(number, digit) {
      let zero = "";
      for (let i = 0; i < digit; i++) {
        zero += "0";
      }

      return (zero + number).slice(-digit);
    },
    timerRunning() {
      let currentTime = new Date();
      let timeElapsed = new Date(currentTime - this.timeBeggan - this.stoppedDuration);
      let minutes = timeElapsed.getUTCMinutes();
      let seconds = timeElapsed.getUTCSeconds();
      let milliSeconds = timeElapsed.getUTCMilliseconds();

      this.time = `${this.zeroPrefix(minutes, 2)}:${this.zeroPrefix(seconds,2)}.${this.zeroPrefix(milliSeconds, 3)}`;
    },
  },
};
</script>
<style lang="scss" scoped>
.timer {
  &-container {
    margin-top: 12px !important;
  }
  &-icon {
    margin-top: 3px;
  }
}
</style> 