<template>
  <div class="timer">
    <v-icon class="timer__icon mt-1" large> mdi-timer</v-icon>
    <p class="timer__text">{{ time }}</p>
  </div>
</template>
<script>
export default {
  name: "Timer",
  data: () => ({
    timeBeggan: null,
    timeStopped: null,
    stoppedDuration: 0,
    started: null,
    running: false,
  }),
  computed: {
    time() {
      return this.$store.getters.time;
    }
  },
  methods: {
    startTimer() {
      if (this.running) return;

      if (this.timeBeggan === null) {
        this.resetTimer();
        this.timeBeggan = new Date();
      }

      if (this.timeStopped !== null) {
        this.stoppedDuration += new Date() - this.timeStopped;
      }
      
      this.started = setInterval(this.timerRunning, 10);
      this.running = true;
    },
    stopTimer() {
      this.running = false;
      this.timeStopped = new Date();
      clearInterval(this.started);
    },
    resetTimer() {
      this.running = false;
      clearInterval(this.started);
      this.stoppedDuration = 0;
      this.timeBeggan = null;
      this.timeStopped = null;
      this.$store.commit("resetTimer");
    },
    zeroPrefix(number, digit) {
      let zero = "";
      for (let i = 0; i < digit; i++) {
        zero += "0";
      }

      return (zero + number).slice(-digit);
    },
    timerRunning() {
      let currentTime = new Date();
      let timeElapsed = new Date(currentTime - this.timeBeggan - this.stoppedDuration);
      let minutes = timeElapsed.getUTCMinutes();
      let seconds = timeElapsed.getUTCSeconds();
      let milliSeconds = timeElapsed.getUTCMilliseconds();
      let time = `${this.zeroPrefix(minutes, 2)}:${this.zeroPrefix(seconds,2)}.${this.zeroPrefix(milliSeconds, 3)}`;
      this.$store.commit("setTimer", time);
    },
  },
};
</script>
<style lang="scss" scoped>
.timer {
  &__icon {
    color: #f9f9f9;
  }
  &__text {
    font-size: 23px;
    color: #f9f9f9;
  }
}
</style> 