<template>
  <v-card
    :class="['guesses', 'mt-6', 'mx-auto']"
    outlined
    color="game"
    elevation="8"
  >
    <div v-if="!isUserWon" class="guesses__timer primary">
      <Timer ref="timerRef" />
    </div>
    <div v-if="!isUserWon">
      <div class="guesses__cards">
        <ColorCard
          :class="['guesses__cards__item', 'my-4', 'mx-5']"
          v-for="color in userGuess"
          :key="color"
          :color="color"
          :clickable="false"
        />
      </div>
      <div class="guesses__result">
        <GuessResult />
      </div>
    </div>

    <div class="mt-8" v-if="isUserWon">
      <UserWon />
    </div>
  </v-card>
</template>

<script>
import Timer from "./TimerTest";
import ColorCard from "./ColorCard";
import GuessResult from "./GuessResult";
import UserWon from "./UserWon";

export default {
  name: "UserGuess",
  components: {
    ColorCard,
    GuessResult,
    Timer,
    UserWon,
  },
  data: () => ({
  }),
  computed: {
    userGuess() {
      return this.$store.getters.userGuess;
    },
    attempts() {
      return this.$store.getters.attempts;
    },
    isUserWon() {
      // bad practice for computed prop need to change
      if (this.attempts == 0 && this.userGuess.length > 0) {
        this.startTimer();
      }
      // Always check value, to know if we need to stop timer
      if (this.$store.getters.isUserWon) {
        this.stopTimer();
      }
      return this.$store.getters.isUserWon;
    },
  },
  methods: {
    // Accessing the Timer component's functions (start/stop/reset)
    startTimer() {
      this.$refs.timerRef.startTimer();
    },
    stopTimer() {
      this.$refs.timerRef.stopTimer();
    },
    resetTimer() {
      this.$refs.timerRef.resetTimer();
    }
  },
};
</script>

<style lang="scss" scoped>
.guesses {
  flex-direction: column;
  border-radius: 13px !important;
  height: 305px;
  width: 470px;
  &__cards {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  &__timer {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.button {
  margin-top: 60px !important;
  border-radius: 13px !important;
}
</style>
