<template>
  <v-card class="card mt-12 pt-2" color="secondary" outlined elevation="4">
    <div class="card__text">
      <h1 class="card__text--title">Welcome</h1>
      <v-card-text class="card__text--info">
        This is the
        <strong class="card__text--label">COLORS GUESSING-GAME ™</strong>
        <br />
        This game will test will test your memory and thinking speed,
        <br />
        so make sure you are giving the best you have in order to win this game
        as fast as you can while having the lowest amount of attempts.
        <br />
        In case that instructions are needed, hit the
        <v-icon class="mb-1" color="black">mdi-help-circle-outline</v-icon>
        button above.
        <br />
        <br />
        So if you're all set and ready click the START button below !
        <br />
        <v-icon color="black" dense large>mdi-arrow-down-bold</v-icon>
      </v-card-text>
    </div>
    <div class="primary">
      <v-btn
        class="my-3 pr-2"
        color="#f9f9f9"
        :style="{ fontSize: '17px', fontWeight: 'bold' }"
        @click="displayGame"
        outlined
        rounded
      >
        <p class="my-auto">start</p>
        <v-icon class="mx-1">mdi-play-circle-outline</v-icon>
      </v-btn>
    </div>
  </v-card>
</template>
<script>
export default {
  name: "Welcome",
  components: {},
  props: {},
  data: () => ({}),
  methods: {
    displayGame() {
      this.$store.commit("displayGame");
    },
  },
};
</script>
<style lang="scss" scoped>
.card {
  text-align: center !important;
  border-radius: 13px !important;
  margin-top: 30px !important;
  &__text {
    text-align: center !important;
    color: #121111;
    &--title {
      font-size: 38px;
    }
    &--info {
      font-size: 15px;
      font-weight: normal !important;
    }
    &--label {
      background-image: linear-gradient(
        to left,
        violet,
        indigo,
        blue,
        green,
        orange,
        red
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.start-text {
  color: #f9f9f9;
}
</style>