<template>
  <v-app>
    <div class="app white">
      <v-card v-if="isMobile" class="app__error text-center mt-12 mx-6 py-4">
        <v-icon color="error" x-large>mdi-alert</v-icon>
        <h2>
          Device is not compatible
          <br />
          <em :style="{ fontSize: '12px' }">*desktop only</em>
        </h2>
      </v-card>
      <div v-if="!isMobile" class="app__container">
        <!-- GameToolbar component START-->
        <v-row no-gutters>
          <v-col cols="12">
            <GameToolbar @restartInvoked="onRestartInvoked" />
          </v-col>
        </v-row>
        <!-- GameToolbar component END-->

        <!-- UserGuess component START-->
        <v-row no-gutters>
          <v-col cols="3">
            <div v-if="isShowErrorMsg" class="alert ml-1 mt-2">
              <div class="alert__arrow"></div>
              <div
                :class="['alert__box', 'white--text', 'text-center', 'pt-1']"
              >
                <v-icon class="mb-1" color="white"
                  >mdi-alert-circle-outline</v-icon
                >
                Sure you wanna quit game ?
                <v-icon class="ml-2" @click="quit('yes')" color="white" x-small
                  >mdi-check</v-icon
                >
                |
                <v-icon @click="quit('no')" color="white" x-small
                  >mdi-close</v-icon
                >
              </div>
            </div>
          </v-col>
          <v-col cols="6">
            <div :class="['app__user-guess', 'justify-center', 'text-center']">
              <UserGuess ref="userGuessRef" v-if="isGameDisplayed" />
            </div>
          </v-col>
          <v-col cols="3"></v-col>
        </v-row>
        <!-- UserGuess component END-->

        <!-- Welcome component START -->
        <v-row v-if="!isGameDisplayed" no-gutters>
          <v-col cols="3"></v-col>
          <v-col cols="6">
            <Welcome />
          </v-col>
          <v-col cols="3"></v-col>
        </v-row>
        <!-- Welcome component END -->

        <!-- ColorsPalette component START-->
        <v-row no-gutters>
          <v-col cols="12">
            <div class="app__palette" v-if="isGameDisplayed">
              <ColorsPalette />
            </div>
          </v-col>
        </v-row>
        <!-- ColorsPalette component END-->

        <!-- Footer START -->
        <div :class="['app__footer', 'text-center', 'primary']">
          © saharpe · All Rights Reserved
        </div>
        <!-- Footer END -->
      </div>
    </div>
  </v-app>
</template>

<script>
import GameToolbar from "./components/GameToolbar";
import Welcome from "./components/Welcome";
import UserGuess from "./components/UserGuess";
import ColorsPalette from "./components/ColorsPalette";

export default {
  name: "App",
  components: {
    GameToolbar,
    Welcome,
    UserGuess,
    ColorsPalette,
  },
  data: () => ({}),
  methods: {
    quit(action) {
      this.$store.commit("dontShowHomePageErrorMsg");
      if (action === "yes") {
        this.$store.commit("restartGame");
        this.$store.commit("goHomePage");
        this.onRestartInvoked();
      }
    },
    onRestartInvoked() {
      this.$refs.userGuessRef.resetTimer();
    },
  },
  computed: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }

      return false;
    },
    isGameDisplayed() {
      return this.$store.getters.isGameDisplayed;
    },
    isShowErrorMsg() {
      return this.$store.getters.isShowHomePageErrorMsg;
    },
  },
};
</script>

<style lang="scss" scoped>
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}
.app {
  &__container {
    width: 81%;
    height: 100vh;
    margin: auto;
    background-color: #f9f9f9;
  }
  &__palette {
    width: 81%;
  }
  &__footer {
    color: #f9f9f9;
    position: absolute;
    font-size: 10px;
    width: 81%;
    bottom: 0;
  }
  &__error {
    color: #ff3232;
  }
}

.alert {
  animation: fadeIn 1s linear;
  &__arrow {
    width: 0;
    height: 0;
    margin-left: 18px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ff3232;
  }
  &__box {
    width: 260px;
    height: 33px;
    background-color: #ff3232;
    border-left-color: #ff8080;
    border-left-style: solid;
    border-left-width: 3px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: lighter;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert.none {
  display: none;
}
</style>

